<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}">

  <!-- 首页 -->
  <ion-tab title="首页" icon-off="tab_home_off" icon-on="tab_home_on" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <!-- 消息提醒 -->
  <ion-tab title="消息提醒" icon-off="tab_msg_off" icon-on="tab_msg_on" href="#/tab/msg">
    <ion-nav-view name="tab-msg"></ion-nav-view>
  </ion-tab>
   <!-- 报价测算 -->
  <ion-tab title="报价测算" icon-off="tab_irrcs_off" icon-on="tab_irrcs_on" href="#/tab/irrcs">
    <ion-nav-view name="tab-irrcs"></ion-nav-view>
  </ion-tab>
    <!-- 我的账户 -->
  <ion-tab title="我的账户" icon-off="tab_mine_off" icon-on="tab_mine_on" href="#/tab/mine">
    <ion-nav-view name="tab-mine"></ion-nav-view>
  </ion-tab>


</ion-tabs>
