<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-12
  @content 功能性构件列表
-->
<!--注意：ionic自带的返回键有缺陷，它返回的永远是历史纪录，而不是上一级，故而舍弃-->
<!--<ion-view view-title="{{componentTitle}}" hide-tabs>-->
<ion-view hide-nav-bar ="true" hide-tabs>
	<ion-header-bar  class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
	</ion-header-bar>
	<ion-content>
		<ion-item ng-repeat="x in dataList" class="item-icon-right" style="white-space: normal;" ng-click="toDetail(x)">
			<span ng-bind="x.name"></span>
			<i class="icon ion-ios-arrow-forward"></i>
		</ion-item>
	</ion-content>
</ion-view>