<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-12
  @content 各种类型的弹框
-->
<ion-view hide-tabs view-title={{componentTitle}}>
	<ion-content>
		<div ng-repeat="x in dataList" style="position: relative;">
			<ion-item class="item-icon-right" style="white-space: normal;" ng-click="showOrHide(x)">
				<span ng-bind="x.name"></span>
				<i class="icon ion-ios-arrow-down iconTop" id="idTop{{x.value}}"></i>
			</ion-item>
			<div id="idBottom{{x.value}}" class="hideItem" style="display: none;">
				<ion-item ng-repeat="y in x.list " class="item-icon-right" style="white-space: normal;padding-left: 50px;" ng-click="toDetail(y)">
					<span ng-bind="y.name"></span>
					<i class="icon ion-heart"></i>
				</ion-item>
			</div>
		</div>
	</ion-content>


</ion-view>