<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-14
  @content 各种类型的底部栏
-->
<ion-view hide-nav-bar="true" hide-tabs>
	

	<div class="bar bar-header" style="background: #63B8FF;">
		<div class="buttons" >
			<button style="color: #fff;" class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
		
	</div>
	<div class="has-header"  style="margin-top: 44px;">
		<div class="footerContainer" style="height: 44px;">
			<div class="footerItem" ng-repeat="x in buttonData" ng-class="slideIndex == $index?'current':''" ng-click="chartChoose($index)">
				<div ng-bind="x"></div>
			</div>
		</div>
	</div>

	<ion-content overflow-scroll="true" style="top: 88px;">
		
		<div class="imc-scroll">
			<div id="container" style="width: 550px; height: 400px; margin: 30px auto"></div>
			<img src="templates/home/img/bar3D.png" ng-if="slideIndex == 3">
			<img src="templates/home/img/pie3D.png" ng-if="slideIndex == 4" />
		</div>

		<div id="sliders" ng-if="slideIndex == 3">
			<table>
				<tr>
					<td>α 角（内旋转角）</td>
					<td><input id="alpha" type="range" min="0" max="45" value="15" /> <span id="alpha-value" class="value"></span></td>
				</tr>
				<tr>
					<td>β 角（外旋转角）</td>
					<td><input id="beta" type="range" min="-45" max="45" value="15" /> <span id="beta-value" class="value"></span></td>
				</tr>
				<tr>
					<td>深度</td>
					<td><input id="depth" type="range" min="20" max="100" value="50" /> <span id="depth-value" class="value"></span></td>
				</tr>
			</table>
		</div>

	</ion-content>

</ion-view>