<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-14
  @content 各种类型的底部栏
-->
<ion-view hide-nav-bar="true" hide-tabs>
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
	</ion-header-bar>
	<ion-content>
		<div class="first">
			<div ng-click="change()">
				项目状态
			</div>
			<ul class="new">
				<li>受让中</li>
				<li>交易中</li>
				<li>已结束</li>
			</ul>
		</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		
		<div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
		
	</ion-content>

</ion-view>