<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-14
  @content 各种类型的底部栏
-->
<ion-view hide-nav-bar="true" hide-tabs>
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
	</ion-header-bar>
	<ion-content overflow-scroll="true">
		<div class="footerContainer" style="height: 44px;" >
			<div class="footerItem" ng-repeat="x in buttonData" ng-class="slideIndex == $index?'current':''" ng-click="chartChoose($index)">
				<div ng-bind="x"></div>
			</div>
		</div>
		<div class="imc-scroll">
			<div id="container" style="width: 550px; height: 400px; margin: 30px auto"></div>
		</div>
	</ion-content>

</ion-view>