<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-14
  @content 各种类型的底部栏
-->
<ion-view hide-nav-bar="true" hide-tabs>
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
	</ion-header-bar>
	<ion-content>
		<div ng-repeat="x in dataList">
			<ion-item class="item-icon-right" style="white-space: normal;" ng-click="getfile(x)">
				<span ng-bind="x.name"></span>
				<i class="icon  ion-ios-cloud-download iconTop"></i>
			</ion-item>
		</div>
		<div style="width: 90%;margin: 30px auto;">
			也可以通过自己输入地址来下载文件，文件类型包括word,ppt,excel等
			<div style="margin-top: 10px;">文件名称</div>
			<input type="text" ng-model="file.name" style="border:1px solid #000000;width: 320px;border-radius: 8px;" /> 
			<div style="margin-top: 10px;">文件的下载路径</div>
			<input type="text" ng-model="file.value" style="border:1px solid #000000;width: 320px;border-radius: 8px;" />
			<div style="width: 320px;margin-top: 10px;" class="button button-calm" ng-click="getfile(file)">开始下载</div>
			<div style="width: 320px;margin-top: 10px;" class="button button-calm" ng-click="clearall()">清除下载任务</div>
			<div style="width: 320px;margin-top: 10px;" class="button button-calm" ng-click="downloadAno()">locatin.assign下载方法</div>
			
		</div>
	</ion-content>

</ion-view>