<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-17
  @content 首页两条待办任务列表
-->
<ion-view hide-tabs view-title={{componentTitle}}>
	<ion-content class="toDoTaskBk">
		<div class="listWord">
			<div class="pad5">首页通常会放的待办任务列表，通常会保留两到三条数据，标题超过80%时以省略号表示</div>
			<div class="button button-calm" ng-click="changeStyle(1)">第一种样式</div>
			<div class="button button-calm" ng-click="changeStyle(2)">第二种样式</div>
			<div class="button button-calm" ng-click="changeStyle(3)">第三种样式</div>
		</div>
		<div class="toDoTask">
			<ion-item class="item-icon-right borderNone" ng-click="showOrHide(x)">
				<span>待办任务</span>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<div ng-repeat="x in dataList | limitTo:2" ng-if="taskStyle == 1">
				<div class="row toDoTask_{{x.imgS}} ">
					<div class="col col-50">
						<div class="lH34 overHid" ng-bind="x.projectName"></div>
						<div class="lH34 overHid" ng-bind="x.flowId"></div>
						<div class="lH34 overHid" ng-bind="x.flowName"></div>
					</div>
					<div class="col col-50" style="text-align: center;">
						<img ng-src="templates/home/img/{{x.imgS}}.png" class="taskImg" />
						<div class="overHid" ng-bind="x.company"></div>
					</div>
				</div>
				<div class="row toDoTask2 ">
					<div class="col col-20" ng-bind="x.managerName"></div>
					<div class="col col-30" >{{x.startDate| date:'yyyy-MM-dd'}}</div>
					<div class="col" ng-bind="x.processingPost"></div>
				</div>
			</div>

			<ion-list>
				<ion-item ng-repeat="x in dataList | limitTo:3" ng-if="taskStyle == 2">
					<div class="lH34 overHid" ng-bind="x.projectName"></div>
				</ion-item>
			</ion-list>

			<div ng-show="taskStyle == 3">
				<div id="featured-area">
					<ul>
						<li>
							<div class="taskImgThree" style="background-image: url(templates/home/img/home_dbrw_{{dataList[0].imgS}}.png);">
								<div class="taskContent">
									<div class="taskRow1 overWidHid" ng-bind="dataList[0].projectName" class="taskRow1"></div>
									<div class="taskRow2 overWidHid" ng-bind="dataList[0].company" class="taskRow1"></div>
									<div class="taskRow3Left">
										<div class="margin10" ng-bind="dataList[0].flowId"></div>
										<div class="margin10" ng-bind="dataList[0].processingPost"></div>
									</div>
									<div class="taskRow3Left">
										<div  class="margin10" ng-bind="dataList[0].managerName"></div>
										<div  class="margin10" ng-bind="dataList[0].startDate"></div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="taskImgThree" style="background-image: url(templates/home/img/home_dbrw_{{dataList[1].imgS}}.png);">
								<div class="taskContent">
									<div class="taskRow1 overWidHid" ng-bind="dataList[1].projectName" class="taskRow1"></div>
									<div class="taskRow2 overWidHid" ng-bind="dataList[1].company" class="taskRow1"></div>
									<div class="taskRow3Left">
										<div class="margin10" ng-bind="dataList[1].flowId"></div>
										<div class="margin10" ng-bind="dataList[1].processingPost"></div>
									</div>
									<div class="taskRow3Left">
										<div  class="margin10" ng-bind="dataList[1].managerName"></div>
										<div  class="margin10" ng-bind="dataList[1].startDate"></div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="taskImgThree" style="background-image: url(templates/home/img/home_dbrw_{{dataList[2].imgS}}.png);">
								<div class="taskContent">
									<div class="taskRow1 overWidHid" ng-bind="dataList[2].projectName" class="taskRow1"></div>
									<div class="taskRow2 overWidHid" ng-bind="dataList[2].company" class="taskRow1"></div>
									<div class="taskRow3Left">
										<div class="margin10" ng-bind="dataList[2].flowId"></div>
										<div class="margin10" ng-bind="dataList[2].processingPost"></div>
									</div>
									<div class="taskRow3Left">
										<div  class="margin10" ng-bind="dataList[2].managerName"></div>
										<div  class="margin10" ng-bind="dataList[2].startDate"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

	</ion-content>

</ion-view>