<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-14
  @content 各种类型的底部栏
-->
<ion-view hide-nav-bar="true" hide-tabs>
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
		<div class="buttons">
			<button class="button button-clear icon ion-ios-location-outline" ng-click="scrollTop()"></button>
		</div>
	</ion-header-bar>
	
	<ion-content delegate-handle="mainScroll">
		
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		
		<div ng-repeat="x in dataList">
			<div class="row toDoTask_{{x.imgS}} ">
				<div class="col col-50">
					<div class="lH34 overHid" ng-bind="x.projectName"></div>
					<div class="lH34 overHid" ng-bind="x.flowId"></div>
					<div class="lH34 overHid" ng-bind="x.flowName"></div>
				</div>
				<div class="col col-50" style="text-align: center;">
					<img ng-src="templates/home/img/{{x.imgS}}.png" class="taskImg" />
					<div class="overHid" ng-bind="x.company"></div>
				</div>
			</div>
			<div class="row toDoTask2 ">
				<div class="col col-20" ng-bind="x.managerName"></div>
				<div class="col col-30">{{x.startDate| date:'yyyy-MM-dd'}}</div>
				<div class="col" ng-bind="x.processingPost"></div>
			</div>
		</div>
		
		<div ng-if="!moredata" style="line-height: 44px;text-align: center;">没有更多 数据了...</div>
		
		<ion-infinite-scroll ng-if="moredata"  on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>

	</ion-content>

</ion-view>