<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-24
  @content 根据后台数据随机生成页签和各页签下相应内容
-->
<ion-view hide-nav-bar="true" hide-tabs>
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
		<div class="buttons">
			<button class="button button-clear icon ion-navicon" ></button>
		</div>
	</ion-header-bar>
	<ion-content overflow-scroll="true" class="colorGrey">

		<div class="imc-scroll">
			<div class="scrollInline" ng-repeat="x in dataList" ng-class="slideIndex == $index?'current':''">
				<div class="scrollInline  scrollDiv" ng-click="go($index)" ng-bind="x.name"></div>
			</div>
		</div>

		<div ng-repeat="x in dataListData">
			<div class="randomTitle" ng-bind="x.title"></div>
			<div ng-repeat="y in x.list" class="randomList">
				<div class="td-list1" ng-repeat="z in y.list" style="background: #fff;">
					<div class="td-list-item">
							<div class="td-list-left" ng-bind="z.name" style="color:#004070"></div>
							<div class="td-list-right" ng-bind="z.value" style="color:#004070"></div>
					</div>
				</div>
			</div>
		</div>

	</ion-content>

</ion-view>