<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-15
  @content 各种类型的轮播图
-->
<ion-view hide-tabs view-title={{componentTitle}}>
	<ion-content>
		<div class="wh100" ng-class="slideShow==1?'displayBlock':'displayNone'">
			<ion-slide-box id="slideBox" does-continue="true" auto-play="true" slide-interval="500" show-pager="false" on-slide-changed="go_changed(index)" class="wh100">
				<ion-slide ng-repeat="x in dataList">
					<img ng-src="{{x.name}}" class="slideImage" />
				</ion-slide>
			</ion-slide-box>
			
			<div ng-repeat="x in buttonListSlide" ng-click="showSlide(x.value)">
				<div class="button button-calm" ng-bind="x.name"></div>
			</div>
		</div>

	</ion-content>

</ion-view>