<!--
  @author wang_szhan
  @version 1.0.0
  @createDate  2017-10-14
  @content 各种类型的底部栏
-->
<ion-view hide-nav-bar="true" hide-tabs>
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button button-clear icon ion-ios-arrow-left" ng-click="Back()"></button>
		</div>
		<h1 class="title" ng-bind="componentTitle"></h1>
		<div class="buttons slide1Button" ng-click="slide1()">
			<button class="button button-clear icon ion-navicon"></button>
		</div>
		<div class="slidePage slide1" style="width: 100%;top: 44px;margin-left: -5px;">
			<div class="button button-stable button33 color00" ng-repeat="x in dataList1" ng-bind="x">
			</div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div style="width: 90%;margin: 20px auto;">
			自定义下拉菜单，按照自己的要去求拿取相应的下拉菜单样式。<br />
			<h3 class="margin10">下拉菜单直接 覆盖页面</h3>
			<div class="margin10">（1）标题右侧的下拉菜单</div>
			<div class="margin10">（1）标题下侧的下拉菜单，宽度30%</div>
			<div class="margin10">（1）标题下侧的下拉菜单，宽度100%</div>
			<div class="margin10">当下拉菜单显示的时候，点击任何地方，下拉菜单都会回收</div>
		</div>

		<div class="row pad0 color00" style="text-align: center;">
			<div class="col pad0 slide2Button" ng-click="slide2()">
				<div class="button button-calm">width 100%</div>
			</div>
			<div class="col pad0 slide3Button" ng-click="slide3()">
				<div class="button button-calm">width 50%</div>
			</div>
			<div class="col pad0 slide4Button" ng-click="slide4()">
				<div class="button button-calm">width 40%</div>
			</div>
		</div>
		<!--在content中的下拉下单 宽度 100%-->
		<div class="slidePage  slide2" style="width: 100%;">
			<div class="line30" ng-repeat="x in dataList2" ng-bind="x" style="padding-left: 10px;">
			</div>
		</div>
		<div class="slidePage  slide3" style="width: 50%;margin-left: 25%;">
			<div class="line30" ng-repeat="x in dataList2" ng-bind="x" align="center">
			</div>
		</div>
		<div class="slidePage  slide4" style="width: 40%;margin-left: 60%;">
			<div class="line30" ng-repeat="x in dataList2" ng-bind="x" align="center">
			</div>
		</div>
		测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试测试下拉菜单作用的字测试下拉菜单作用的试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字测试下拉菜单作用的字

	</ion-content>

</ion-view>