/*底部栏各个按钮样式一样*/

.footerContainer {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	/*-webkit-flex-wrap: wrap;*/
	/*当footerItem的width和height是固定px时候可用*/
	display: flex;
	/*flex-wrap: wrap;*/
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.footerItem {
	flex: 0 0 auto;
	flex-shrink: 1;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 10px;
}

.footerItem3 {
	text-align: center;
	padding-top: 10px;
	background: #DDDDDD;
	border: 1px solid #ddd;
}


/*底部栏各个按钮样式不一样，正数第n个按钮样式*/

.footerContainer .footerItem3:nth-of-type(1) {
	flex-grow: 1;
	background: #000;
}

.footerContainer .footerItem3:nth-of-type(2) {
	flex-grow: 2;
	background: #fe6400;
}


/*最后一个按钮样式*/

.footerContainer .footerItem3:last-child {
	flex-grow: 3;
	background: #ECECEC;
}


/*倒数第n个按钮样式*/


/*.footerContainer .footerItem3:nth-last-child(2){
	flex-grow: 2;
	background: #FFFFFF;
}*/

.slideImage {
	height: 300px;
	width: 100%;
}

.slideButton {
	float: left;
	width: 45%;
	margin: 5px;
}

.current {
	border-bottom: 2px solid #63B8FF;
}

.height44 {
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.titleSlide {
	margin-top: 10px;
	background: #63B8FF;
	height: 44px;
	line-height: 44px;
}

.top10 {
	margin-top: 10px;
}


/*swiper轮播图样式*/

.swiper-container1,
.swiper-container2 {
	width: 100%;
	text-align: center;
}

.swiper-container1 .swiper-slide,
.swiper-container2 .swiper-slide {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.swiper-container1 .swiper-slide-active,
.swiper-container2 .swiper-slide-active {
	top: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.swiper-slide img {
	width: auto;
	height: 300px;
	max-width: 100%;
	max-height: 100%;
}


/*分页器*/

#swiper-pagination1 {
	position: relative;
	margin-top: -20px;
	z-index: 10;
}

#swiper-pagination1 .swiper-pagination-bullet {
	width: 10px;
	height: 5px;
	border-radius: 5px;
}

#swiper-pagination1 .swiper-pagination-bullet-active {
	background-color: #FE6400;
}


/*首页列表*/

.listWord {
	padding: 15px;
	font-size: 20px;
	color: #63B8FF;
	background: #fff;
	border-radius: 37px;
	margin: 10px auto;
}

.pad5 {
	padding: 5px;
}

.toDoTaskBk {
	background: #ECECEC;
}

.toDoTask {
	width: 95%;
	margin: 0px auto;
}

.borderNone {
	border: none;
	margin: 0;
}

.borTopRadius {
	border-radius: 5px 5px 0px 0px;
}

.borBotRadius {
	border-radius: 0px 0px 5px 5px;
}

.toDoTask_received {
	background: #effaf5;
}

.toDoTask_toReceive {
	background: #fff8f6;
}

.toDoTask2 {
	background: #FFFFFF;
}

.taskImg {
	width: 70px;
	height: 70px;
}

.lH34 {
	line-height: 34px;
}

.overHid {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.overWidHid{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*首页待办任务三维立体旋转图*/

#featured-area {
	height: 200px;
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.roundabout-holder {
	list-style: none;
	width: 260px;
	height: 200px;
	margin: 0px auto;
}

.roundabout-moveable-item {
	height: 290px;
	width: 400px;
	cursor: pointer;
	padding: 5px;
}

.roundabout-in-focus {
	cursor: auto;
}

.taskImgThree {
	background-size: 100% 101%;
	width: 100%;
	height: 100%;
	display: block;
}

.taskContent {
	padding-top: 8%;
	padding-left: 8%;
	color: white;
}
.taskRow1{
	width: 95%;
	font-size: 2em;
	font-weight: bolder;
}
.taskRow2{
	width: 80%;
	font-size: 1.5em;
	margin-top: 10px;
}
.taskRow3Left{
	width: 50%;
	float: left;
	font-size: 1.5em;
}
.margin10{
	margin-top: 10px;
}
.toReceive{
	background-image: url(../img/home_dbrw_toReceive.png);
}
.received{
	background-image: url(../img/home_dbrw_received.png);
}
.back{
	background-image: url(../img/home_dbrw_back.png);
}
/*图片上传样式*/
.scfwtp-title{
	background-color: #F6F6F6;
	border-bottom: 1px solid #e2e3e5;
	color: #393838;
	font-size: 16px;
	padding: 10px 15px;
}
.camera-bg{
	padding: 10px;
	font-size: 0;
	padding-bottom: 0;
}
.scfwtp-camera{
	width: 100%;
	height: calc(width);
	margin: 0;
	padding: 0;
}
.camera{
	width: 33.3%;
	padding: 5px;
	display: inline-table;
}
/*测试input select框的问题*/
.td-list2{
	background-color: white;
}
.td-list-item{
	overflow: hidden;
	border-bottom: 1px solid #F2F2F2;
	padding: 10px 0;
}
.td-list-left{
	float: left;
    width: 40%;
    padding-right: 3px;
    color: #999999;
}
.td-list-right{
    float: right;
    width: 60%;
    color: #333333;
    text-align: right;
}
.imc-scroll {
   width: 100%;
   /*height: 140px;*/
   white-space: nowrap;
   overflow-x: scroll;
   overflow-y: hidden;
   overflow-scrolling: touch;
   -webkit-overflow-scrolling: touch /*iOS 滚动弹簧效果 */;
   background: #ECECEC;
   line-height: 44px;
 }
.scrollInline{
	display: -webkit-inline-box;
	display: -moz-inline-box;
}

